.product-list {
    border-radius: 5px;
    box-shadow: 2px 5px 5px;
    background-color: rgb(245, 245, 235);
    margin-right: 20px;
}

.shopping-box {
    border-radius: 5px;
    box-shadow: 2px 5px 5px;
    background-color: rgb(245, 245, 235);
}

body {
    background: linear-gradient(to right, #4b4d50, #c4b45b);
}

.navbar-brand {
    padding: 2vw
}

h2 {
    text-align: center;
}

#empty-box {
    text-decoration: grey;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 7vw;
    position: fixed;
}

#logo {
    font-size: 40px;
}

#empty-img{
    margin-left: 5vw;
}