#product-list{
    border-radius: 5px;
    box-shadow: 2px 5px 5px;
    background-color:whitesmoke;
    margin-right: 20px;
}
.shopping-box{
    border-radius: 5px;
    box-shadow: 2px 5px 5px;
    background-color:whitesmoke
}

body {
    background: linear-gradient(to right, #4b4d50, #e6f0ef);
  
}