.product-list{
    border-radius: 5px;
    box-shadow: 2px 5px 5px;
    background-color:whitesmoke;
    margin-right: 20px;
}
.shopping-box{
    border-radius: 5px;
    box-shadow: 2px 5px 5px;
    background-color:whitesmoke
}

body {
    background: linear-gradient(to right, #4b4d50, #e6f0ef);
}
.navbar-brand{
    padding: 2vw
}

h2{
    text-align: center;
}

#empty-box{
    text-decoration: grey;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 12vw;
    position: fixed;
    /* display: block;
    text-align: center; */

    
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}